/* Ovveridding style */
[dir=ltr] .form-control{
    height: 45px;
}
[dir=ltr] .bg-primary{
    background-color: #F34F53!important;
}
.navbar-main.bg-primary{
    background: linear-gradient(to left, #ec2c7b 0%, #fa722b 100%);
}
[dir=ltr] .sidebar-menu-item.active:after,
[dir=ltr] .sidebar-menu-item:after{
    content: "";
    width: 5px;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
[dir=ltr] .sidebar-light .sidebar-menu-button{
    color: #8ea8b5;
    font-weight: 400;
    padding: 5px 18px;
    font-size: 15px;
}
[dir=ltr] .sidebar-menu-item.active{

}
[dir=ltr] .sidebar-menu-item:hover,
[dir=ltr] .sidebar-menu-item.active {
    background: rgba(237, 136, 73, .2);
    transition: all 200ms ease;
}

[dir=ltr] .sidebar-menu-item:hover:after,
[dir=ltr] .sidebar-menu-item.active:after{
    background-color: #ED8849;
    transition: all 200ms ease;
}
[dir=ltr] .sidebar-light .active>.sidebar-menu-button .sidebar-menu-icon{
    color: #ED8849;
}
[dir=ltr] .sidebar-light .active>.sidebar-menu-button{
    color: #ED8849;
}
.main-logo{
    width: 150px;
}

.card.main-card{
    border-radius: 15px!important;
    overflow: hidden;
}
.main-card .card-header{
    background: linear-gradient(to left, #ec2c7b 0%, #fa722b 100%);
    color: #FFF;
    padding: 30px 30px;
}
.main-card .card-footer{
    padding: 20px 30px;
}
[dir=ltr] .btn{
    padding: 12px 35px;
    border-radius: 40px;
}
[dir=ltr] .btn.btn-main{
    background: linear-gradient(to left, #ec2c7b 0%, #fa722b 100%);
    color: #FFF;
}
[dir=ltr] .alert{
    padding: 15px 20px!important;
}
[dir=ltr] .alert-soft-blue{

}

[dir=ltr] .avatar-title img{
    width: 28px;
}

.article-details p{
    line-height: 1.7;
    font-size: 16px;
    color: #777;
}

.inbox_people {
    background: #FFF none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; 
    border-right:1px solid #f8f8f8;
}
.inbox_msg {
    border: 1px solid #f8f8f8;
    clear: both;
    overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:
}
.headind_srch{ 
    padding: 25px 29px 25px 20px;
    overflow:hidden; 
    border-bottom:1px solid #f8f8f8;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{ 
    border:1px solid #F4F4F4; 
    border-width:0 0 1px 0; 
    width:80%; 
    padding:2px 0 4px 6px; 
    background:none;
    height: 40px;
}
.srch_bar input:active,
.srch_bar input:focus{
    outline: none;
    border-color: #ED8849;
}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
    text-align: center;
}
.chat_img img{
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #f8f8f8;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat { 
    height: 550px; 
    overflow-y: auto;
}

.active_chat{ 
    background: rgba(237, 136, 73, .2);
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.incoming_msg_img img{
    max-width: 100%;
    border-radius: 50%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    /* border-radius: 3px; */
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 15px 5px 15px 10px;
    width: 100%;
    border-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: linear-gradient(to left, #ec2c7b 0%, #fa722b 100%);
    font-size: 14px;
    margin: 0; 
    color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
    padding: 15px 10px 15px 15px;
    width: 100%;
    border-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 80px;
    width: 100%;
    padding-left: 15px;
}
.input_msg_write input:focus,
.input_msg_write input:active{
    border-bottom-color: #ED8849;
    outline: none;
}

.type_msg {border-top: 1px solid #F4F4F4;position: relative;}

.msg_send_btn {
    background: linear-gradient(to left, #ec2c7b 0%, #fa722b 100%);
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 45px;
    width: 45px;
    border-radius: 50%!important;
    position: absolute;
    right: 0;
    top: 11px;
    overflow: hidden;
}
.messaging { 
    padding: 0 0 50px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .06);
    border-radius: 12px;
    overflow: hidden;
}
.msg_history {
    height: 516px;
    overflow-y: auto;
}

@media(max-width:991px){
    .inbox_chat{
        height: 120px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .headind_srch{
        display: none;
    }
    .inbox_people{
        float: none;
        width: 100%;
    }
    .chat_img,
    .chat_ib{
        float: none;
        width: auto;
        padding: 0px;
    }
    .chat_ib h5 span{
        float: none;
        display: block;
    }
    .chat_list{
        width: 150px;
        text-align: center;
        display: inline-block;
    }
    .chat_ib p{
        display: none;
    }
    .mesgs{
        width: 100%;
    }
    .incoming_msg_img{
        display: none;
    }
    .sent_msg,
    .received_withd_msg{
        width: 90%;
    }
    .msg_history{
        padding-bottom: 30px;
    }
    .mesgs{
        padding: 30px 0px 0px 0px;
    }
    
}

/********
    INSCRIPTION
*********/
@media (min-width: 768px){
    [dir=ltr] .layout-login-centered-boxed__form{
        max-width: 100%;
        width: 700px;
    }

    .inscription_form .card{
        padding: 50px 60px!important;
    }
}
.inscription_form {
    background-color: #161556!important;
}
.layout-login-centered-boxed__form h6{
    font-size: 24px;
    color: #FFF;
    line-height: 1.5;
}
.form_container{
    padding: 40px 80px;
    justify-content: center;
    /* display: flex;
    align-items: center; */
    height: 100vh;
    background-color: #FFF;
}
.form_container .form_card{
    height: auto;

}
.inscription_text{
    background-color: #161556;
    color: #FFF;
    position: relative;
}
.inscription_text img:not(.img-bg){
    width: 180px;
}
.inscription_text img.img-bg{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 100px);
    max-width: 100%;
    opacity: 0.4;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.inscription_text ul li,
.inscription_text p{
    color: rgba(255, 255, 255, .8);
    line-height: 1.6;
    font-weight: 400;
}
.inscription_text ul li{
    margin-bottom: 10px;
}

.form-header h3{
    background: linear-gradient(to right, #f2485a 0%, #fa722b 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

[dir=ltr] .btn-group .btn-light.active{
    background: linear-gradient(to right, #f2485a 0%, #fa722b 60%)!important;
}
[dir=ltr] .btn.btn-check{
    padding: 11px 24px;
}

@media(max-width: 991px){
    .form_container{
        padding: 5px 10px;
    }
    .btn-check{
        padding: 5px 10px!important;
        font-size: 13px!important;
    }
}


.lds-ripple-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: #f7f7f79c;
    z-index: 1;
    display: none;
}
.lds-ripple {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fcf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}


.inscription-success {
	text-align: center;
	margin: 35px auto;
	display: none;
	width: 60%;
}
.inscription-success img {
	text-align: center;
	margin: 15px auto;
	width: 250px;
}
.inscription-success h3 {
	font-weight: 700;
	font-size: 22px;
	color: #2b3890;
	letter-spacing: 0;
	margin-bottom: 10px;
}
.inscription-success p {
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 25px;
}

@media(max-width:991px){
	.inscription-success {
		width: 100%;
	}
}
